.footer {
  display: flex;
  padding: 0 50px;

  width: 100%;
  min-height: 640px;
  height: auto;

  background-color: $secondary-color;
  background-image: url(../images/footer.png);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: right top;
}

.footer-form {
  padding-top: 130px;
}

.footer-form,
.footer-contacts {
  width: 50%;
  height: inherit;
  padding-right: 50px;
}

.footer-form-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-form .form-field {
  margin-bottom: 44px;
  width: 100%;

  color: $main-color;
  background-color: transparent;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  border: none;
  border-bottom: 1px solid $text-form;
  outline: none;
}

.footer-form .field-label {
  position: relative;
  display: inline-block;
  width: calc(50% - 15px);
  margin-right: 15px;
}

.footer-form .field-label legend {
  position: absolute;
  top: -3px;

  color: $text-form;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: translate, 250ms linear;
}

.footer-form .form-field:focus + legend {
  color: $main-color;

  transform: translate(-2px, -24px);
}

.field-label:hover .form-field,
.footer-form .form-field:focus {
  border-color: $main-color;
}

.field-label:hover legend {
  color: $main-color;
}

textarea.form-field {
  display: block;
  width: 100%;
  resize: none;

  color: $main-color;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
}

textarea.form-field::placeholder {
  color: $text-form;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.footer-contacts {
  padding: 130px 105px 130px 100px;
}

.footer-contacts {
  color: $text-secondary;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.contacts-box {
  padding-left: 50px;
}

.footer-adress {
  position: relative;

  font-style: normal;
}

.contacts-box .footer-item:not(:last-child) {
  margin-bottom: 20px;
}

.phone,
.mail {
  position: relative;

  color: inherit;
  text-decoration: none;
}

.mail {
  text-decoration: underline;
}

.footer-adress::before,
.phone::before,
.mail::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 7px;

  width: 24px;
  height: 24px;
}

.footer-adress::before {
  background-image: url(../images/map.svg);
}

.phone::before {
  background-image: url(../images/phone.svg);
}

.mail::before {
  background-image: url(../images/mail.svg);
}

.schedule-box {
  margin-top: 70px;
}

// Copyright
.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;

  width: 100%;
  min-height: 125px;
  height: auto;

  background-color: $main-color;
}

.copy-text {
  color: $text-secondary;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}
